@charset "UTF-8";

* {
margin: 0;
padding: 0;
}

html, body {
height: 100%;
}

* html #tudo {height: 100%;}

body {
background-color: #F6F6F6; /* Cor do Fundo*/
}

.contentCenter {
width: 980px;
vertical-align: top;
position: relative;
margin-left: auto;
margin-right: auto;
}

#tudo {
	margin: 0 auto;
	text-align: left;
	position: relative;
	min-height: 100%;
}

#conteudo {
	padding-bottom: 35px;
	height:100%;
}

#rodape {
	position: absolute;
	bottom: 0;
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 100%;
	background-color: transparent;
}

#cabecalho {
	height:145px;
	width:100%;
	
}
#cabecalho .contentCenter {
	background:url(../images/header-bg.png) no-repeat;
	height:145px;
	z-index:9999;
}


.menuSup {
	float:right;
	margin-top:16px;
	height:24px;
	background:url(../images/header-top-line.png) bottom left no-repeat;
}
.menuSup a {
	padding:8px 8px;
}
.bemvindo {
	margin-top:8px;
	font-size:11px;
}
.bemvindo a {
	font-weight:bold;
}
.logo {
	float:left;
	margin-top:-30px;
}
.pesquisar {
	float:right;
	display:inline-block;
	width:210px;
	margin-top:8px;
}
.pesquisar .campo {
	display:inline-block;
	float:left;
	padding-top:2px;
}
.pesquisar .campo input {
	border:none;
	background-color:transparent;
	padding:8px 0;
	width:166px;
	outline:none;
}
.pesquisarBtn {
	background:none;
	border:none;
	float:right;
	background:url(../images/button-search.png) no-repeat center center;
	height:35px;
	width:35px;
	display:inline-block;
	border-left:#DDD solid thin;
	outline:none;
	cursor:pointer;
	
}


#conteudo .contentCenter {
	background:#fff;
	border-top:none;
	width:980px;
	height:100%;
	background:url(../images/container-bg.png) repeat-y;
}
#conteudo .contentCenter .texto {
	min-height:400px;
}
#conteudo .contentCenter .texto .principal {
	padding:14px 200px 20px 15px;
}

.breadcrumb {
border: 2px dotted #d6d6d6;
background: #f7f7f7;
padding: 5px 10px;
margin: 0 0 25px 0;
font-size: 11px;
}

.breadcrumb, .breadcrumb a {
color: #474444;
text-decoration: none;
}





.principal .produto {
	width: 130px;
	display: inline-block;
	vertical-align: top;
	margin: 0 15px 15px 0;
}
.principal .produto .name a, .principal .produto .por a {
	color: #222;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
}
.principal .produto .name a:hover, .principal .produto .por a:hover {
	color:#1875ab;
}
.principal .produto .por a {
	font-size:11px;
	font-weight:normal;
}

.principal .produto .price {
	display: block;
	font-weight: bold;
	color: #990000;
	margin-bottom: 4px;
}

a.button {
	display: inline-block;
	padding-left: 8px;
	background: url('../images/button-left.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button span {
	color: #6a6a6a;
	line-height: 12px;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background: url('../images/button-right.png') top right no-repeat;
}
a.button:hover {
	background: url('../images/button-left-active.png') top left no-repeat;
}
a.button:hover span {
	color: #3e3e3e;
	background: url('../images/button-right-active.png') top right no-repeat;
}

.tituloGrupo {
	font-weight:bold;
	font-size:14px;
	color:#464646;
}

.colunaDireita {
float: right;
width: 180px;
padding: 20px 0;
}

.colunaDireita .categorias .titulo {
	color: #464646;
}
.colunaDireita .categorias .titulo {
	padding: 0 10px;
	margin: 0;
	font-weight: bold;
	color: #464646;
	font-size: 16px;
	font-family: "Lucida Sans";
}

.colunaDireita .categorias ul {
	list-style:none; 
	margin-left:12px;
}
.colunaDireita .categorias ul li {
	margin-top:8px;
	padding-left:14px;
	background:url(../images/arrow.gif) no-repeat 0px 5px;
}

#conteudo .contentCenter .rodape {
	background:#FAFAFA;
	border:#DDDDDD solid thin;
	color: #8f8f8f;
	font-size: 11px;
	font-weight: bold;
	padding:12px 15px;
}


/* ------- Warning & help & Messages Styles ------------------------------------------- */

.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('../images/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../images/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../images/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.information {
	background: #E8F6FF url('../images/information.png') 10px center no-repeat;
	border: 1px solid #B8E2FB;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}


/* Menu DropDown */

/* LEVEL ONE */
ul.dropdown { 
	position: relative; 
	list-style:none; 
}
ul.dropdown li { 
	font-weight: bold; 
	float: left; 
	zoom: 1;
}
ul.dropdown a:hover { 
	color: #222222; 
	text-decoration:none; 
}
ul.dropdown a:active { 
	color: #ffa500; 
}
ul.dropdown li a { 
	display: block; 
	padding: 13px 12px; 
	color: #222; 
	color:#8A8A8A;
}
ul.dropdown li:last-child a { 
	border-right: none; 
} /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover { 
	color: #222222; 
	position: relative; 
}
ul.dropdown li.hover a { 
	color: black; 
}

/*  LEVEL TWO */
ul.dropdown ul {  
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	list-style:none;
	margin-left:8px;
	border:#CCC solid thin;
	padding:4px 4px;
	background: rgba(234,234,234,0.9); 
	text-align:left;
}
ul.dropdown ul li { 
	font-weight: normal; 
	color: #000;
	float: none;
	padding:4px 8px;
}
ul.dropdown ul li:hover {
	background:#F5F5F5;
}
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a { 
	border-right: none; 
	width: 100%; 
	display: inline-block;
	padding: 4px 8px;
	text-align:left;
} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul { 
	left: 100%;
	top: 0;
	list-style:none;
}
ul.dropdown li:hover > ul { 
	visibility: visible; 
}




.floatLeft {
	float:left;
}

.floatRight {
	float:right;
}

body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.clear { clear:both; }

a:link {
	text-decoration: none;
	color: #000000;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #000000;
}
a:active {
	text-decoration: none;
	color: #000000;
}